CKB_RPC_URL=https://testnet.ckbapp.dev
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_CALLBACK_URL=http://localhost:3000/api/verify/github/callback
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_OAUTH_CALLBACK_URL=http://localhost:3000/api/verify/discord/callback
DISCORD_TRUSTED_COMMUNITIES=
VELLUM_ISSUER_PRIVATE_KEY=
VELLUM_OAUTH_STATE_SECRET=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
