CKB_RPC_URL=https://testnet.ckbapp.dev
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_CALLBACK_URL=http://localhost:3000/api/verify/github/callback
VELLUM_ISSUER_PRIVATE_KEY=
VELLUM_OAUTH_STATE_SECRET=
